<!-- <style>
    main{
         
    height: 100vh;
    width: 100%;
    background-size: cover;
    
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}
</style> -->
<div class="main">
    <%= name %>

    <h3>kalayolam .com</h3>
    <img src="file:///D:/HANISH/login-form-main/public/IMAGES/kalayolam.jpg" height="200px" width="100px" alt="DF">
    <img src="file:///D:/HANISH/login-form-main/public/IMAGES/KASDF.jpg"  height="200px" width="100px" alt="adfasd" srcset="public\IMAGES\KASDF.jpg">
</div>
