<h1>Registered Group Programs</h1>

<div>
  <% groupPrograms.forEach(g => { %>
    <div style="border: 1px solid black; border-radius: 15px;">
      <h2><%= g.name %></h2>
      <ul>
        <li>
          Group Members:
          <ul>
            <% g.members.forEach(m => { %>
              <li><%= m.name %></li>
            <% }) %>
          </ul>
        </li>
        <li>
          <form action="/removeRegisteredGroup/<%= id %>/<%= g._id %>" method="POST">
            <button type="submit">Remove Group</button>
          </form>
        </li>
      </ul>
    </div>
  <% }) %>
</div>
