
<select name="sectionData">
    <option value="super senior">super senior</option>
    <option value="senior">senior</option>
    <option value="junior">junior</option>
    <option value="sub junior">sub junior</option>
    <option value="General">General</option>
</select>