<style>
    /* body {
     background: #2990b9ea;
    } */
     /* .body{
      border-radius: 20px ;
      background: #24d48b8a;
     } */
     /* .datas{
      
      
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
     } */
     .data{
       border-bottom-left-radius: 20px;
       border-bottom-right-radius: 20px;
       gap: 12px;
       height: 200px;
       min-width: 100%;
       background: #2c24248a;
       overflow-y: hidden;
       overflow-x: auto;
       display: flex;
       flex-wrap: nowrap;
       justify-content: flex-start;
       align-items: center;
     }
     .contentent-box{
       border-radius: 20px;
       padding: 7px;
       height: 160px;
       min-width: 160px;
       background: black;
       color: #fff;
       display: flex;
       justify-content: center;
     }
     
     .search-area{
      border-radius: 20px;
       height: 40px;
       margin-top: 5px;
       margin-bottom: 5px;
       background: #08ff3e59;
       display: flex;
       justify-content: center;
       gap: 40px;
     }
     .section-select{
       display: flex;
       height: 100%;
       align-items: center;
     }
     .group-select{
       display: flex;
       height: 100%;
       align-items: center;
     }
     .search-bar {
       
       height: 100%;
       width: 55%;
     }
     .search-bar > form{
     display: flex;
     width: 100%;
     height: 100%;
     align-items: center;
     }
     input {
     width: 100%;
     background-color: white;
   }
     .details{
       border-top-left-radius: 20px;
       border-top-right-radius: 20px;
       width: 100%;
       height: 50px;
       background: #041322e5;
       display: flex;
       gap: 30px;
       align-items: center;
       justify-content: center;
       margin-top: 10px;
     }
     .details > p {
       color: #fff;
     }
     .details > form > button {
       width: 80px;
       border-radius: 10px;
       background-color: #23a398;
       color: #000000;
       font-size: 22px;
       font-weight: 600;
     }
   </style>

<h1><%= name%></h1>


<div class="datas">
   
      <div class="details">
       <p>section data</p><p>total result of section</p>
      </div>
      <div class="data">
       
          <div class="contentent-box">
            <div style="display: block;border: 2px solid #fff;">
              <h3>contestend name</h3>
              <h3>program name</h3>
                  <div style="display: flex; margin: 0; padding: 0;">
                    <h3 style="margin: 0;">P : position</h3>
                    <h3 style="margin: 0;">G : grade</h3>
                  </div>
            </div>
          </div>
          <div class="contentent-box">
            <div style="display: block;border: 2px solid #fff;">
              <h3>contestend name</h3>
              <h3>program name</h3>
                  <div style="display: flex; margin: 0; padding: 0;">
                    <h3 style="margin: 0;">P : position</h3>
                    <h3 style="margin: 0;">G : grade</h3>
                  </div>
            </div>
          </div>
      </div>


  </div>
 
  