<!-- user, programs, groupPrgram -->

<div>
    <h3>Validators</h3>
    <div>
        <ul>
            <% user.forEach(u => { %>
             <a href="2-set-P-V/<%=u.id%>"><li><%=u.name%></li></a> 
            <%})%>
        </ul>
    </div>
</div>